.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figures/*
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
analysis/supplement/*
docs/*
supplement/*
manuscript/*
figures/*
